body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
  }
  
  .bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  .bgimg-1 {
    background-image: url("https://static0.srcdn.com/wordpress/wp-content/uploads/2021/05/thor-4-one-month-wrap-filming-taika-waititi.png");
    min-height: 100%;
  }
  
  .bgimg-2 {
    background-image: url("https://assets1.ignimgs.com/2020/07/01/ironmanvr-review-blogroll-1593638760998_160w.jpg?width=1280");
    min-height: 400px;
  }
  
  .bgimg-3 {
    background-image: url("https://wallpaperaccess.com/full/1307302.jpg");
    min-height: 400px;
  }
  
  
  h3 {
  
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }
  
  /* Turn off parallax scrolling for tablets and phones */
  @media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
      background-attachment: scroll;
    }
  }
  
  body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    .topnav {
      overflow: hidden;
      background-color: rgba(225, 147, 64, 0.919);
      z-index: 1;
    }
    
    .topnav a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 9px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    
    .topnav a.active {
      background-color: #04AA6D;
      color: white;
    }
    
    .topnav .icon {
      display: none;
    }
    
    @media screen and (max-width: 600px) {
      .topnav a:not(:first-child) {display: none;}
      .topnav a.icon {
        float: right;
        display: block;
      }
    }
    
    @media screen and (max-width: 600px) {
      .topnav.responsive {position: relative;}
      .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
    }
  
    #navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #navbar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }


  .testimony {
    width: 1250px;
    height: 600px;
    background: url("http://www.wellness-toskana.info/wp-content/uploads/2017/05/Cafe.jpeg") no-repeat;
    background-size: 100% 100%;
  }
  .testimony wrapper {
    width: 1249px;
    height: 600px;
    position: absolute;
    background: rgba(0,0,0,0.6);
    color: white;
    text-align: center;
    padding: 0px 50px;
  }
  .testimony wrapper .title {
    font-family: "Verdana", sans-serif;
    font-size: 30px;	
    text-transform: capitalize;
  }
  .testimony wrapper .item img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: solid 2px #ffffff;
  }
  .testimony wrapper .item .name {
    font-family: "Droid Sans", sans-serif;
  }
  .testimony wrapper .item .comment {
    font-family: "PT Sans", sans-serif;
  }
  